.body{
	font-family: 'Catamaran', sans-serif;
	color: white;
	/*background-image: url(../image/5.JPG);*/
	background-repeat: no-repeat;
	background-size: 100% 120%;
	
	background-color: #4158D0;
	background-image: linear-gradient(43deg, #4158D0 100%, #C850C0 80%, #FFCC70 100%);

}
.nav_bar{
	background-color: gray;
}
.nav_bb{
	background-color: inherit !important;
	border:none;
}

/*fin entete*/

.form1{
	margin-top: 75px;
	/*border:2px solid black;*/
	background-color: black;
	/*border-top-left-radius: 50%;*/
	/*border-bottom-left-radius: 50%;*/
	height: 600px;
	opacity: 0.7;
}
.form2{
	margin-top: 50px;
}
.form3{
	margin-top: 50px;
	/*height: 400px;*/
}
.rad{
	margin-left: 230px!important;
}
h3{
	text-align: center;
	margin-top: 50px;
	font-weight: bold;
}
.inpt1, .inpt2, .inpt3, .inpt4, .inpt5{
	border-top:none!important;
	border-left:none!important;
	border-right:none!important;
	background-color:transparent!important;
	/*border-top: hidden!important;

	border-left: hidden!important;

	border-right: hidden!important; */
}

.inpt7{

	background-color: transparent;
}
.sel1, .sel2{
	border-top:none!important;
	border-left:none!important;
	border-right:none!important;
	background-color: transparent;
}
.btn_a{
	
	margin-right: 20px;
	border-radius: 20px;
	margin-top: 10px;
	text-align: center;
}
#im{
	margin-top: 10px; 
	margin-bottom: 10px;
	height: 120px; 
	width: 120px; 
	border-radius: 50px;
}

table{
	color: black!important;
}
@media screen and (max-width: 768px){
	.form1{
	margin-top: -40px;
	
	height: 1000px!important;
	opacity: 0.75;
	}
.corps{
	
	
	background-repeat: no-repeat;
	background-size:cover;
	
}
}
@media screen and (max-width: 1024px){
	.form1{
	margin-top: -40px;
	
	height: 1000px!important;
	opacity: 0.75;
	}
}
